/* Import font*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&family=Righteous&display=swap');

body {
  font-family: "Open Sans", sans-serif;
}

#navbar {
  font-family: "Righteous" ;
}

.navbar-brand {
  font-size: 1.6rem;
}

#a_propos {
  background: linear-gradient(to right, #fabc74, #eb5f5d);
}

.btn {
  background: linear-gradient(to left, #fabc74, #eb5f5d);
  color: white;
}
.btn:hover {
  background: linear-gradient(to right, #fabc74, #eb5f5d);
  color: white;
  font-weight: bold;
}

h2 {
font-weight: bold;
}
#carousel {
  background: linear-gradient(to right, #fabc74, #eb5f5d);
}
footer {
  text-align: center;
  margin-top: 15px;
  
}

 

