/* Import font*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&family=Righteous&display=swap');

body {
  font-family: "Open Sans", sans-serif;
}
/* navbar font properties*/
#navbar {
  font-family: "Righteous" ;
}

.navbar-nav {
  font-size: 1.5rem;
}

.navbar-brand {
  font-size: 1.6rem;
}

.navbar-toggler {
  height: 2rem;
}
/*gradient background*/
#a_propos {
  background: linear-gradient(to right, #fabc74, #eb5f5d);
}

#carousel {
  background: linear-gradient(to right, #fabc74, #eb5f5d);
}

#travel_cards {
  background: linear-gradient(to right, #fabc74, #eb5f5d);  
}

/*bouton properties*/
.btn {
  background: linear-gradient(to left, #fabc74, #eb5f5d);
  color: white;
}
.btn:hover {
  background: linear-gradient(to right, #fabc74, #eb5f5d);
  color: white;
  font-weight: bold;
}

h2, h3 {
font-family: "Righteous" ;
font-weight: bold;
}

h4 {
  font-size: 0.9rem;
}

footer {
  text-align: center;
  font-size: 0.5rem;
}



 

